@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter&family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter&family=Montserrat:wght@500&family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter:wght@500&family=Montserrat:wght@500&family=Russo+One&family=Ubuntu:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

:root {
  --mainColor: #8b2ad3;
}
::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #000000;
  background-image: url("/assets/images/appBg.svg");
  height: max-content;
  width: 100%;
  color: white;
}
h1 {
  font-family: "Ubuntu";
  font-size: 4rem;
  line-height: 5rem;
  text-transform: uppercase;
}
h2 {
  font-family: "Ubuntu";
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
p {
  font-family: "Montserrat";
  font-size: 0.9rem;
  line-height: 1.3rem;
}
.arrow {
  font-size: 6rem;
}
@media screen and (max-width: 1280px) {
  h1 {
    font-size: calc(1vw + 1.5rem);
    line-height: calc(1vw + 2.5rem);
  }
  h2 {
    font-size: calc(1vw + 1rem);
  }
  .arrow {
    font-size: calc(1vw + 3rem);
  }
}

.stroke-text {
  text-align: center;
  font-family: "Russo One", sans-serif;
  /* font-size: 3.7rem; */
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--mainColor);
  transition: -webkit-text-fill-color 2s;
}
.stroke-text:hover {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
}

/* ------------------------------------------------------abut us page=-------------------- */

/* -------ACCORDION------------------ */
div.c {
  position: relative;
}
.input-box {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: 0;
}
.ques {
  background: transparent;
  color: white;
  font-size: 1.5rem;
  position: relative;
  border-top: 1px solid var(--mainColor);
}
.ques::after {
  /* content: "\2212"; */
  content: " \002B	";
  font-size: 40px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
label {
  cursor: pointer;
  position: relative;
  display: flex;

  padding: 10px;
  align-items: center;
}
.p {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  /* background-color: var(--mainColor); */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
div.p p {
  padding-block: 1em;
  padding-inline: 50px;
}

.input-box:checked ~ .ques label::before {
  border-left: 15px solid transparent;
  border-top: 20px solid white;
  margin-top: 12px;
  margin-right: 10px;
}
.input-box:checked ~ .ques::after {
  content: "\2212";
}
.input-box:checked ~ .ques ~ div.p {
  max-height: 250px;
}

@media screen and (max-width: 500px) {
  .ques {
    font-size: 16px;
  }
}

.moons-bg {
  background-image: url(/assets/images/presale-now-bg.png);
  background-size: 100% 100%;
}

.outer-frame-bg {
  background-image: url(/assets/images/outer-frame.png);
  background-size: 100% 100%;
}

.inner-frame-bg {
  background-image: url(/assets/images/inner-frame.png);
  background-size: 100% 100%;
}
